# Can we predict math grades using student's characteristics?

## Reading the data

In [4]:
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 6)
student <- read_csv2("https://raw.githubusercontent.com/kx-chen/dsci-contract/master/student-mat.csv")
student

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)

See spec(...) for full column specifications.

    school sex age address famsize Pstatus Medu Fedu Mjob     Fjob    ⋯ famrel
1   GP     F   18  U       GT3     A       4    4    at_home  teacher ⋯ 4
2   GP     F   17  U       GT3     T       1    1    at_home  other   ⋯ 5
3   GP     F   15  U       LE3     T       1    1    at_home  other   ⋯ 4
⋮   ⋮      ⋮   ⋮   ⋮       ⋮       ⋮       ⋮    ⋮    ⋮        ⋮       ⋱ ⋮
393 MS     M   21  R       GT3     T       1    1    other    other   ⋯ 5
394 MS     M   18  R       LE3     T       3    2    services other   ⋯ 4
395 MS     M   19  U       LE3     T       1    1    other    at_home ⋯ 3
    freetime goout Dalc Walc health absences G1 G2 G3
1   3        4     1    1    3       6       5  6   6
2   3        3     1    1    3       4       5  5   6
3   3        2     2    3    3      10       7  8  10
⋮   ⋮        ⋮     ⋮    ⋮    ⋮      ⋮        ⋮  ⋮  ⋮
393 5        3     3    3    3      3        10  8  7
394 4        1     3    4    5      0        11 12 10
395 2        3     3    3    5      5         8  9  9

## Setting up

In [8]:
student_split <- initial_split(student, props = 0.80, strata = G3)
student_train <- training(student_split)
student_test <- testing(student_split)

student_split
student_train
student_test

<Analysis/Assess/Total>
<298/97/395>

    school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1   GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2   GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3   GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
⋮   ⋮      ⋮   ⋮   ⋮       ⋮       ⋮       ⋮    ⋮    ⋮        ⋮        ⋱ ⋮
296 MS     M   20  U       LE3     A       2    2    services services ⋯ 5
297 MS     M   21  R       GT3     T       1    1    other    other    ⋯ 5
298 MS     M   19  U       LE3     T       1    1    other    at_home  ⋯ 3
    freetime goout Dalc Walc health absences G1 G2 G3
1   3        4     1    1    3       6       5  6   6
2   3        3     1    1    3       4       5  5   6
3   3        2     2    3    3      10       7  8  10
⋮   ⋮        ⋮     ⋮    ⋮    ⋮      ⋮        ⋮  ⋮  ⋮
296 5        4     4    5    4      11        9 9  9
297 5        3     3    3    3       3       10 8  7
298 2        3     3    3    5       5        8 9  9

   school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1  GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
2  GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
3  GP     F   17  U       GT3     A       4    4    other    teacher  ⋯ 4
⋮  ⋮      ⋮   ⋮   ⋮       ⋮       ⋮       ⋮    ⋮    ⋮        ⋮        ⋱ ⋮
95 MS     F   18  U       LE3     T       3    1    teacher  services ⋯ 4
96 MS     M   17  U       LE3     T       3    1    services services ⋯ 2
97 MS     M   18  R       LE3     T       3    2    services other    ⋯ 4
   freetime goout Dalc Walc health absences G1 G2 G3
1  2        2     1    1    5      2        15 14 15
2  3        2     1    2    5      4         6 10 10
3  1        4     1    1    1      6         6  5  6
⋮  ⋮        ⋮     ⋮    ⋮    ⋮      ⋮        ⋮  ⋮  ⋮
95 3        4     1    1    1      0         7  9  8
96 4        5     3    4    2      3        14 16 16
97 4        1     3    4    5      0        11 12 10

## Setting up recipe and model

In [33]:
student_recipe <- recipe(G3 ~ age + absences + failures + freetime, data = student_train) %>%
                    step_scale(all_predictors()) %>% step_center(all_predictors())

student_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) %>% set_engine("kknn") %>% set_mode("regression")

student_recipe
student_spec

Data Recipe

Inputs:

      role #variables
   outcome          1
 predictor          4

Operations:

Scaling for all_predictors()
Centering for all_predictors()

K-Nearest Neighbor Model Specification (regression)

Main Arguments:
  neighbors = tune()
  weight_func = rectangular

Computational engine: kknn

## Tuning/Finding ideal K

In [34]:
gridvals <- tibble(neighbors = seq(1, 200))
student_vfold <- vfold_cv(student_train, v = 5, strata = G3)

student_k <- workflow() %>% add_recipe(student_recipe) %>% add_model(student_spec) %>%
             tune_grid(student_vfold, grid = gridvals) %>% collect_metrics() %>% filter(.metric == "rmse") %>% filter(mean == min(mean)) %>% pull(neighbors)


student_k

[1] 15

## Evaluating on the test set

In [36]:
student_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = student_k) %>%
  set_engine("kknn") %>%
  set_mode("regression")

student_fit <- workflow() %>%
  add_recipe(student_recipe) %>%
  add_model(student_spec) %>%
  fit(data = student_train)

predictions <- student_fit %>%
  predict(student_test) %>%
  bind_cols(student_test)

student_metrics <- metrics(predictions, truth = G3, estimate = .pred)
student_metrics

  .metric .estimator .estimate
1 rmse    standard   4.1768796
2 rsq     standard   0.1300227
3 mae     standard   3.2962199

## Final Model